<div class="w-full bg-[#201a23]">
  <!-- Mobile toggle button (left-aligned) -->
  <div class="flex justify-start md:hidden">
    <button class="bg-[#4e444b] px-4 py-2 flex items-center rounded-md" (click)="showFilters = !showFilters">
      <mat-icon>filter_list</mat-icon>
      <span>Filters</span>
      @if (activeFiltersCount() > 0) {
        <span class="ml-1 px-2 py-0.5 bg-[#201a23] rounded-full text-sm">
          {{activeFiltersCount()}}
        </span>
      }
    </button>
  </div>

  <!-- Filter row -->
  <div class="flex flex-col md:flex-row md:align-middle flex-wrap md:gap-4 p-2 sm:w-full" [class.hidden]="!showFilters && isMobile">
    <button class="mb-4" (click)="filterReset()" title="Reset Filters"><mat-icon class="cursor-pointer">replay</mat-icon></button>
    <!-- Type -->
    <mat-form-field class="sm:w-[10%]" appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="selectedTypeSignal" (selectionChange)="updateFilter()">
        @for (type of ['movies', 'series']; track type) {
          <mat-option [value]="type">{{ type | titlecase }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Category -->
    <mat-form-field class="sm:w-[10%]" appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="selectedCategory" (selectionChange)="updateFilter()">
        @for (category of ['Popular', 'New', 'Top Rated', 'Now Playing']; track category) {
          <mat-option [value]="category">{{ category }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Year -->
    <mat-form-field class="sm:w-[8%]" appearance="fill">
      <mat-label>Year</mat-label>
      <mat-select [(ngModel)]="selectedYear" (selectionChange)="updateFilter()">
        @if (selectedYear() !== 0) {
          <mat-option><mat-icon>replay</mat-icon></mat-option>
        }
        @for (year of years; track year) {
          <mat-option [value]="year">{{ year }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Genres -->
    <mat-form-field class="sm:w-[15%]" appearance="fill">
      <mat-label>Genres</mat-label>
      <mat-select [multiple]="true" [(ngModel)]="selectedGenres" (selectionChange)="onGenreChange($event)">
        <mat-select-trigger>
          {{ getFirstSelectedGenre()?.name }}
          @if ((selectedGenres().length || 0) > 1) {
            <span class="example-additional-selection">
              (+{{ (selectedGenres().length || 0) - 1 }} {{ selectedGenres().length === 2 ? 'other' : 'others' }})
            </span>
          }
        </mat-select-trigger>
        @if (selectedGenres().length > 0) {
          <mat-option class="no-checkbox" (click)="selectedGenres.set([])">
            <mat-icon>replay</mat-icon>
          </mat-option>
        }
        @for (genre of genres; track genre) {
          <mat-option [value]="genre.id">{{ genre.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Studios/Networks -->
    <mat-form-field class="sm:w-[18%]" appearance="fill">
      <mat-label>{{ selectedTypeSignal() === 'movies' ? 'Studios' : 'Networks' }}</mat-label>
      <mat-select [(ngModel)]="selectedStudiosOrNetworks" (selectionChange)="updateFilter()">
        @if (selectedStudiosOrNetworks() !== 0) {
          <mat-option><mat-icon>replay</mat-icon></mat-option>
        }
        @for (studioNetwork of studiosOrNetworks; track studioNetwork) {
          <mat-option [value]="studioNetwork.id">{{ studioNetwork.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="sm:w-[12%]" appearance="fill">
      <mat-label>Country</mat-label>
      <mat-select [(ngModel)]="selectedCountry" (selectionChange)="onCountryChange($event)">
        @if (selectedCountry()) {
          <mat-option>
            <mat-icon>replay</mat-icon>
          </mat-option>
        }
        @for (country of countries; track country.code) {
          <mat-option [value]="country.code">
            {{ country.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Keyword Input -->
    <div class="sm:w-[15%]">
      <mat-form-field class="w-full">
        <mat-label>Keywords</mat-label>
        <input matInput (input)="onKeywordInput($any($event.target).value)" [(ngModel)]="keywordInput" placeholder="Search keywords" />
      </mat-form-field>

      <!-- Keyword suggestions dropdown -->
      @if (keywordResults().length > 0) {
        <ul class="absolute bg-[#231e22] z-50 w-[63%] sm:w-[14%] max-h-56 overflow-y-auto rounded-md -mt-4">
          @for (keyword of keywordResults(); track keyword.id) {
            <li (click)="addKeywordFromSuggestion(keyword)" class="p-2 px-6 text-white text-base hover:bg-[#3b3539] cursor-pointer">
              {{ keyword.name }}
            </li>
          }
        </ul>
      }
    </div>
  </div>

  <!-- Selected Keywords Row -->
  <div class="flex gap-2 justify-end w-full sm:w-[99%]">
    @for (keyword of selectedKeywords(); track keyword.id) {
      <mat-chip [removable]="true" (removed)="removeKeyword(keyword.id)" class="bg-gray-700 text-white">
        {{ keyword.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    }
  </div>
</div>
