@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';


@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Bruno Ace SC';
  font-style: normal;
  font-weight: 800;
  src: url('https://fonts.gstatic.com/s/brunoacesc/v4/8QIRdiDOrfiq0b7RYcw88HNPlpKY62zk.ttf') format('truetype');
}

.bruno-ace-sc-regular {
  font-family: 'Bruno Ace SC', serif;
  font-weight: 800;
  font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-checkbox.mat-option {
  display: flex;
  align-items: center;
}

.no-checkbox .mat-pseudo-checkbox {
  display: none;
}
