<div class="fixed top-0 left-0 w-full z-30 bg-[#201a23] shadow-md px-6 py-4">
  <!-- Top bar: Logo + Desktop Nav + Mobile Menu -->
  <div class="flex items-center justify-between">
    <!-- Logo -->
    <img src="assets/AetherLogo.png" alt="Logo"
      class="h-8 cursor-pointer transition-transform duration-300 hover:scale-110" routerLink="/" />

    <!-- Desktop Nav (shown on md and above) -->
    <nav class="hidden md:flex items-center space-x-6 ml-auto">
      <a routerLink="/"
        class="text-gray-300 uppercase tracking-wide font-medium transition-colors duration-300 hover:text-slate-500">
        Discover
      </a>
      <a routerLink="/recommendation"
        class="text-gray-300 uppercase tracking-wide font-medium transition-colors duration-300 hover:text-slate-500 flex items-center">
        <span class="mr-2 text-gray-400 material-icons">auto_awesome</span>
        AI
      </a>
      <a routerLink="/discover/movies"
        class="text-gray-300 uppercase tracking-wide font-medium transition-colors duration-300 hover:text-slate-500">
        Movies
      </a>
      <a routerLink="/discover/series"
        class="text-gray-300 uppercase tracking-wide font-medium transition-colors duration-300 hover:text-slate-500">
        Series
      </a>
      <!-- Search Button -->
      <div class="ml-auto flex items-center relative group">
        <!-- Search Icon -->
        <button
          class="text-gray-300 transition-transform duration-300 focus:outline-none flex items-center group-hover:hidden">
          <span class="material-icons">search</span>
        </button>

        <!-- Search Input -->
        <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange($event)"
          class="hidden group-hover:flex w-32 md:w-64 bg-[#201a23] shadow-md  text-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-slate-500 transition-all duration-300" />
      </div>
    </nav>

    <!-- Mobile Menu -->
    <button [matMenuTriggerFor]="mobileMenu" class="text-gray-300 md:hidden" aria-label="Toggle Menu">
      <span class="material-icons">menu</span>
    </button>
    <mat-menu #mobileMenu="matMenu" class="bg-[#201a23]">
      <button mat-menu-item routerLink="/"
        class="uppercase tracking-wide font-medium text-gray-300 hover:text-slate-500">
        Discover
      </button>
      <button mat-menu-item routerLink="/recommendation"
        class="uppercase tracking-wide font-medium text-gray-300 hover:text-slate-500 flex items-center">
        AI
        <span class="ml-1 text-gray-400 material-icons">auto_awesome</span>
      </button>
      <button mat-menu-item routerLink="/discover/movies"
        class="uppercase tracking-wide font-medium text-gray-300 hover:text-slate-500">
        Movies
      </button>
      <button mat-menu-item routerLink="/discover/series"
        class="uppercase tracking-wide font-medium text-gray-300 hover:text-slate-500">
        Series
      </button>
      <button mat-menu-item
        class="uppercase tracking-wide font-medium text-gray-300 hover:text-slate-500 flex items-center">
        <span class="material-icons">search</span>
      </button>
    </mat-menu>
  </div>
  <!-- Search Results -->
  <!-- Search Results -->
  @if (searchResults.length > 0) {
  <div
    class="absolute top-full left-0 w-full max-h-96 bg-[#201a23] shadow-lg z-20 overflow-y-auto rounded-md border border-gray-700 px-4 py-6"
    (appClickOutside)="clearResults()" tabindex="-1">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-8 gap-4">
      @for (result of searchResults; track result.id) {
      <div (click)="navigateTo(result)"
        class="bg-[#28202b] rounded-md p-2 hover:bg-[#3a2e3d] transition duration-200 cursor-pointer relative">
        <!-- Media Poster/Profile -->
        @if (result.poster_path || result.profile_path) {
        <img [src]="tmdbService.getPosterUrl(result.poster_path || result.profile_path)"
          [alt]="result.title || result.name" class="w-full h-64 object-cover rounded-md" />
        }
        <!-- Media Details -->
        <div class="mt-4 text-center">
          <h3 class="text-lg font-semibold text-gray-200 truncate">{{ result.title || result.name }}</h3>
          <p class="text-sm text-gray-400">{{ getMediaType(result.media_type) }}</p>
        </div>
        <!-- Media-Type Icon -->
        <span class="absolute top-2 right-2 rounded-full">
          <span class="material-icons text-white text-4xl">{{ getMediaIcon(result.media_type) }}</span>
        </span>
      </div>
      }
    </div>
  </div>
  }
</div>