<div class="fixed top-0 left-0 w-full z-30 flex items-center px-6 py-4 bg-[#201a23] shadow-md">
    <!-- Logo -->
    <img
        src="assets/AetherLogo.png"
        alt="Logo"
        class="h-8 cursor-pointer transition-transform duration-300 hover:scale-110"
        routerLink="/discover" />

    <!-- Navigation -->
    <div class="flex ml-6 space-x-6 text-lg">
        <a
            routerLink="/discover"
            class="text-gray-300 uppercase tracking-wide font-medium transition-colors duration-300 hover:text-slate-500 cursor-pointer">
            Discover
        </a>
        <a
            routerLink="/recommendation"
            class="flex items-center text-gray-300 uppercase tracking-wide font-medium transition-colors duration-300 hover:text-slate-500 cursor-pointer">
           
            <span class="mr-2 text-gray-400 material-icons">
                auto_awesome
            </span>
            Recommendation
        </a>
    </div>

    <!-- Search Button -->
    <div class="ml-auto flex items-center relative group">
        <!-- Search Icon -->
        <button
            class="text-gray-300 transition-transform duration-300 focus:outline-none flex items-center group-hover:hidden">
            <span class="material-icons">search</span>
        </button>

        <!-- Search Input -->
        <input
            type="text"
            placeholder="Search..."
            class="hidden group-hover:flex w-32 md:w-64 bg-gray-800 text-gray-300 border border-gray-600 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-slate-500 transition-all duration-300"
        />
    </div>
</div>
