<div
  class="p-6 bg-[#201a23] text-white min-h-screen"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="300"
  [infiniteScrollDisabled]="isLoading()"
  (scrolled)="onScroll()">

  <app-filter
    [type]="type"
    (filterChange)="updateFilters($event)"
    [genres]="currentGenres"
    [years]="years"
    [studiosOrNetworks]="curentStudiosOrNetwork"
    [filters]="filters()"></app-filter>

  <div class="grid grid-cols-3 sm:grid-cols-5 md:grid-cols-6 lg:grid-cols-7 xl:grid-cols-10  2xl:grid-cols-12 gap-4 mt-6">
    @for (item of items(); track item) {
      <app-card
        [type]="type === 'movies' ? 'movies' : 'series'"
        [subtitle]="type === 'movies' ? item.title : item.name"
        [title]="item.release_date ? item.release_date : item.first_air_date"
        [imageUrl]="item ? tmdbService.getImageUrl(item) : null"
        [overview]="item.overview"
        [item]="item"></app-card>
    }

    @if (isLoading()) {
      @for (item of [1, 2, 3, 4, 5, 6]; track item) {
        <div class="w-full h-64 bg-gray-800 animate-pulse rounded-lg">
        </div>
      }
    }
  </div>
</div>
