@if (series()) {
<div class="relative text-white">
  <!-- Backdrop (reduced height on mobile) -->
  <div class="relative w-full h-[450px] md:h-[600px] overflow-hidden">
    @if (tmdbService.getBackDrop(series()?.backdrop_path)) {
    <img [src]="tmdbService.getBackDrop(series()?.backdrop_path)" [alt]="series()?.name"
      class="absolute w-full h-full object-cover" />
    }
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-[#201a23]"></div>
    <div class="absolute inset-0 bg-[#201a23] bg-opacity-40"></div>

    <!-- Center everything in a row for desktop -->
    <div
      class="relative z-20 w-full h-full flex flex-col md:flex-row items-center md:items-center justify-center md:justify-start px-4 md:px-16 space-y-8 md:space-y-0 md:space-x-12">

      <!-- Poster -->
      <div class="w-32 md:w-64 flex-shrink-0">
        <img *ngIf="series()?.poster_path" [src]="tmdbService.getPosterUrl(series()?.poster_path)"
          [alt]="series()?.name" class="rounded-lg shadow-lg w-full" />
      </div>

      <!-- Main Info (title, year + trailer icon, rating, seasons, genres, tagline) -->
      <div class="flex flex-col text-center md:text-left items-center md:items-start space-y-4 max-w-lg">
        <!-- Title, Year, and Trailer Icon -->
        <h1 class="text-2xl md:text-5xl font-extrabold">
          {{ series()?.name }}
          <span *ngIf="series()?.first_air_date" class="text-gray-400 text-xl md:text-3xl">
            ({{ series()?.first_air_date | date: 'yyyy' }})
          </span>

          <!-- Trailer icon (tooltip on hover), only if there's a trailer link -->
          <a *ngIf="tmdbService.getTrailerUrl(series())" [href]="tmdbService.getTrailerUrl(series())" target="_blank"
            title="Watch Trailer"
            class="inline-flex ml-2 align-middle text-gray-300 hover:text-slate-200 transition-colors duration-300">
            <span class="material-icons text-2xl md:text-3xl">play_circle</span>
          </a>
        </h1>

        <!-- Rating and Seasons -->
        <div class="text-base md:text-lg text-gray-300">
          {{ series()?.content_ratings?.results?.[0]?.rating || 'TV-MA' }} &bullet;
          {{ series()?.number_of_seasons || '1' }} Season
        </div>

        <!-- Genres -->
        <div class="flex flex-wrap gap-2 justify-center md:justify-start">
          @for (genre of series()?.genres || []; track genre) {
          <span [routerLink]="['/discover/series']" [queryParams]="{ genre: genre.id }"
            class="bg-gray-800 text-gray-200 px-3 py-1 rounded-full text-sm  hover:bg-[#3b3539] cursor-pointer">
            {{ genre.name }}
          </span>
          }
        </div>

        <!-- Tagline -->
        <p *ngIf="series()?.tagline" class="text-xl md:text-2xl italic text-gray-200">
          {{ series()?.tagline }}
        </p>
      </div>
    </div>
  </div>

  <!-- Overview Section & More Details -->
  <div class="relative z-20 w-full mx-auto px-4 md:px-8 py-4 md:py-8">
    <div class="mb-8">
      <h2 class="text-2xl md:text-3xl font-bold mb-4">Overview</h2>
      <p *ngIf="series()?.overview" class="text-gray-300 mb-6 leading-relaxed">
        {{ series()?.overview }}
      </p>
    </div>

    <!-- Creators & Producers -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 text-gray-300 text-sm mb-8">
      <div>
        <strong class="text-white">Creator:</strong>
        @for (creator of series()?.created_by || []; track creator) {
        <div>{{ creator.name }}</div>
        }
      </div>
      <div>
        <strong class="text-white">Producer:</strong>
        <div>Robert Lloyd Lewis</div>
      </div>
      <div>
        <strong class="text-white">Executive Producers:</strong>
        @for (producer of series()?.production_companies || []; track producer) {
        <div>{{ producer.name }}</div>
        }
      </div>
      <div>
        <strong class="text-white">Network:</strong>
        @for (network of series()?.networks || []; track network) {
        <div>{{ network.name }}</div>
        }
      </div>
    </div>

    <!-- Keywords -->
    @if (series()?.keywords?.results?.length) {
    <div class="flex flex-wrap gap-2 mb-6">
      @for (keyword of series()?.keywords?.results || []; track keyword) {
        <button [routerLink]="['/discover/series']" [queryParams]="{ keyword: stringifyKeyword(keyword) }"
        class=" flex justify-center  bg-gray-800  px-3 py-1 rounded-full cursor-pointer hover:bg-[#3b3539]">
        <span class="material-icons text-sm mr-1 ">
          sell
          </span>
        <span class="text-gray-200 text-sm ">{{keyword.name}}</span>
      </button>
      
      }
    </div>
    }

    <!-- Seasons -->
    @if (series()) {
      <div class="z-20 w-full mt-4">
        <!-- Seasons Section -->
        @if (series()?.seasons?.length) {
          <div>
            <button (click)="toggleAllSeasons()" 
              class="w-full flex justify-between items-center bg-gray-800 px-4 py-2 rounded-lg hover:bg-gray-700 transition-all">
              <h2 class="text-2xl md:text-3xl font-bold">
                {{ series()?.seasons?.length }} Seasons <span class="text-sm text-gray-400">({{ series()?.number_of_episodes }} Episodes)</span>
              </h2>
              <span class="material-icons text-gray-400">
                {{ allSeasonsOpen ? 'expand_less' : 'expand_more' }}
              </span>
            </button>
    
            <!-- Seasons Accordion -->
            <div *ngIf="allSeasonsOpen" class="mt-4 space-y-4">
              @for (season of series()?.seasons || []; track season) {
                <div>
                  <!-- Season Header -->
                  <button (click)="toggleSeason(season.id)" 
                    class="w-full flex justify-between items-center bg-gray-800 px-4 py-2 rounded-lg hover:bg-gray-700 transition-all">
                    <div class="text-left">
                      <h3 class="text-lg font-semibold text-gray-200 flex items-center">
                        
                        @if (season.air_date && isSeasonFinished(season)) {
                          <span class="material-icons mr-2">check_circle</span>
                        }@else if(season.air_date){
                          <span class="material-icons mr-2">schedule</span>
                        }
                        {{ season.name }}
                      </h3>
                      <p class="text-sm text-gray-400">
                        {{ season.air_date | date: 'longDate' }} - {{ season.episode_count }} Episodes
                      </p>
                    </div>
                    <span class="material-icons text-gray-400 transition-transform"
                      [ngClass]="{ 'rotate-180': isSeasonOpen(season.id) }">expand_more</span>
                  </button>
    
                  <!-- Episodes List -->
                  @if (isSeasonOpen(season.id)) {
                    <div class="mt-4 space-y-2 pl-6">
                      @for (episode of season.episodes || []; track episode) {
                        <div class="flex gap-4 items-start">
                          <img *ngIf="episode.still_path" [src]="tmdbService.getPosterUrl(episode.still_path)" 
                            [alt]="episode.name" class="w-24 h-16 rounded-lg object-cover">
                          <div>
                            <h4 class="text-gray-200 font-medium flex items-center">
                        
                              @if (episode.air_date && isEpisodeAired(episode.air_date)) {
                                <span class="material-icons mr-2">check</span>
                              }@else if(episode.air_date){
                                <span class="material-icons mr-2">schedule</span>
                              }
                              {{ episode.name }}
                            </h4>
                            <p class="text-sm text-gray-400">{{ episode.air_date | date: 'longDate' }}</p>
                            <p class="text-sm text-gray-300 leading-relaxed" *ngIf="episode.overview">
                              {{ episode.overview }}
                            </p>
                          </div>
                        </div>
                      }
                    </div>
                  }
                </div>
              }
            </div>
          </div>
        }
      </div>
    }
    

    <!-- Recommendations -->
    @if (series()?.recommendations?.results?.length) {
    <h2 class="text-2xl md:text-3xl font-bold mt-8 mb-4">Recommendations</h2>
    <app-slider [items]="series()?.recommendations?.results || []" overview="overview"></app-slider>
    }

    <!-- Similar Series -->
    @if (series()?.similar?.results?.length) {
    <h2 class="text-2xl md:text-3xl font-bold mt-12 mb-4">Similar Series</h2>
    <app-slider [items]="series()?.similar?.results || []" overview="overview"></app-slider>
    }

    <!-- Cast -->
    @if (series()?.credits?.cast?.length) {
    <h2 class="text-2xl md:text-3xl font-bold mt-12 mb-4">Cast</h2>
    <app-slider [items]="series()?.credits?.cast || []" cardType="person" imageField="profile_path"
      titleField="character" subtitleField="name"></app-slider>
    }
  </div>
</div>
}