<div class="swiper-container">
  <swiper-container
    [slidesPerView]="swiperOptions.slidesPerView"
    [spaceBetween]="swiperOptions.spaceBetween"
    [breakpoints]="swiperOptions.breakpoints"
    [freeMode]="swiperOptions.freeMode"
    class="mySwiper">
    @for (item of items; track item) {
      <swiper-slide class="cursor-pointer transition-transform hover:scale-105">
        <app-card
          [type]="cardType"
          [imageUrl]="item ? tmdbService.getImageUrl(item) : null"
          [title]="item[titleField]"
          [subtitle]="item[subtitleField]"
          [overview]="item[overviewField]"
          [item]="item"></app-card>
      </swiper-slide>
    }
  </swiper-container>
</div>
