<div class="swiper-container">
    <swiper-container
      [slidesPerView]="swiperOptions.slidesPerView"
      [spaceBetween]="swiperOptions.spaceBetween"
      [breakpoints]="swiperOptions.breakpoints"
      [freeMode]="swiperOptions.freeMode"
      class="mySwiper"
    >
      @for (item of items; track item) {
        <swiper-slide>
          <app-card
            [type]="cardType"
            [imageUrl]="item[imageField] ? tmdbService.getPosterUrl(item[imageField]) : null"
            [title]="item[titleField]"
            [subtitle]="item[subtitleField]"
            [overview]="item[overviewField]"
          ></app-card>
        </swiper-slide>
      }
    </swiper-container>
  </div>
  