<div class="card-container" [ngClass]="type" (click)="onItemClicked()">
  @switch (type) {
    @case ('movies') {
      <div class="movieSeries" [class.loading]="!imageUrl">
        <img [src]="imageUrl || 'assets/no-image.jpg'" 
             [alt]="title" 
             class="card-image"
             [loading]="loading"
             [attr.fetchpriority]="index < 3 ? 'high' : 'auto'"
             width="150" height="225"
             decoding="async">
        @if (icon) {
          <span class="card-icon material-icons">{{icon === 'movie' ? 'theaters' : 'live_tv'}}</span>
        }
        <div class="overlay">
          <span class="card-title">{{ title | date: 'YYYY' }}</span>
          <span class="card-subtitle">{{ subtitle }}</span>
          @if (!isMobile) {
            <span class="card-overview">{{ getTruncatedText(overview, maxOverviewLength) }}</span>
          }
        </div>
      </div>
    }
    @case ('series') {
      <div class="movieSeries" [class.loading]="!imageUrl">
        <img [src]="imageUrl || 'assets/no-image.jpg'" 
             [alt]="title" 
             class="card-image"
             width="150" height="225"
             decoding="async">
        @if (icon) {
          <span class="card-icon material-icons">{{icon === 'movie' ? 'theaters' : 'live_tv'}}</span>
        }
        <div class="overlay">
          <span class="card-title">{{ title | date: 'YYYY' }}</span>
          <span class="card-subtitle">{{ subtitle }}</span>
          @if (!isMobile) {
            <span class="card-overview">{{ getTruncatedText(overview, maxOverviewLength) }}</span>
          }
        </div>
      </div>
    }
    @case ('person') {
      <div class="person">
        <div class="person-image-container">
          <img [src]="imageUrl || 'assets/no-image.jpg'" 
               [alt]="title" 
               class="person-image"
               [loading]="loading"
               [attr.fetchpriority]="index < 3 ? 'high' : 'auto'"
               decoding="async">
        </div>
        <div class="person-details">
          <h3 class="person-title">{{ title }}</h3>
          <p class="person-subtitle">{{ subtitle }}</p>
        </div>
      </div>
    }
    @case ('genreStudio') {
      <div class="genreStudio">
        <img [src]="imageUrl || 'assets/no-image.jpg'" [alt]="title" class="card-image">
        <div class="genre-overlay">
          <span class="title">{{ title }}</span>
        </div>
      </div>
    }
    @case ('studio') {
      <div class="studio">
        <img [src]="imageUrl || 'assets/no-image.jpg'" alt="Studio Logo" class="card-image">
        <div class="studio-overlay">
          <span class="title">{{ title }}</span>
        </div>
      </div>
    }
  }
</div>