<div class="px-4 py-6 md:p-8 space-y-6 md:space-y-12">
  @if (trendingMovies().length) {
  <section>
    <h2 class="text-3xl font-bold mt-8 mb-4 transition-colors duration-300 hover:text-slate-500 cursor-pointer"
      [routerLink]="['/discover/movies']">
      Popular Movies
    </h2>
    <app-slider cardType="movies" [items]="trendingMovies() || []" overview="overview" titleField="release_date"
      subtitleField="title"></app-slider>
  </section>
  }

  @if (upcomingMovies().length) {
  <section>
    <h2 class="text-3xl font-bold mt-8 mb-4 transition-colors duration-300 hover:text-slate-500 cursor-pointer"
      [routerLink]="['/discover/movies']" [queryParams]="{ category: 'Now Playing' }">
      Upcoming Movies
    </h2>
    <app-slider cardType="movies" [items]="upcomingMovies() || []" overview="overview" titleField="release_date"
      subtitleField="title"></app-slider>
  </section>
  }

  @if (MOVIE_GENRES) {
  <section>
    <h2 class="text-3xl font-bold mt-8 mb-4">Movie Genres</h2>
    <app-slider [items]="MOVIE_GENRES || []" titleField="name" imageField="posterUrl"
      cardType="genreStudio"></app-slider>
  </section>
  }

  @if (STUDIOS) {
  <section>
    <h2 class="text-3xl font-bold mt-8 mb-4">Studios</h2>
    <app-slider [items]="STUDIOS || []" imageField="logo_path" cardType="studio"></app-slider>
  </section>
  }

  @if (trendingSeries().length) {
  <section>
    <h2 class="text-3xl font-bold mt-8 mb-4 transition-colors duration-300 hover:text-slate-500 cursor-pointer"
      [routerLink]="['/discover/series']" [queryParams]="{ category: 'Now Playing' }">
      Trending Series
    </h2>
    <app-slider cardType="series" [items]="trendingSeries() || []" overview="overview"></app-slider>
  </section>
  }

  <!-- Popular Series Slider -->

  @if (popularSeries().length) {
  <section>
    <h2 class="text-3xl font-bold mt-8 mb-4 transition-colors duration-300 hover:text-slate-500 cursor-pointer"
      [routerLink]="['/discover/series']" [queryParams]="{ category: 'Popular' }">
      Popular Series
    </h2>
    <app-slider cardType="series" [items]="popularSeries() || []" overview="overview"></app-slider>
  </section>
  }

  @if (SERIES_GENRES) {
  <section>
    <h2 class="text-3xl font-bold mt-8 mb-4">Series Genres</h2>
    <app-slider [items]="SERIES_GENRES || []" titleField="name" imageField="posterUrl"
      cardType="genreStudio"></app-slider>
  </section>
  }
</div>